.list-group-item {
  cursor: pointer;
  border-radius: .25rem !important;
  &:hover {
    background-color: #f8f9fa;
  }
}
.list-group-item .phone {
  margin-bottom: 0px;
  color: #e87c87;
}
.list-group-item .name {
  font-size: 24px;
  color: #17a2b8;
  margin-bottom: 0px;
}
.form-group label {
  text-transform: capitalize;
}
.error {
  color: #ff5261;
  font-weight: 700;
}
.info {
  color: #34881f;
  font-weight: 700;
}
.jumbotron {
  padding: 1rem 2rem !important;
}
